@import "tailwindcss";

:root {
  --background: #fbf9f4;
  --foreground: #1b1c19;
}

@theme inline {
  --font-sans: 'Inter', var(--font-geist-sans), sans-serif;
  --font-serif: 'Playfair Display', serif;
  
  --color-primary: #334537;
  --color-secondary: #705b3e;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-bone: #F2EFE9;
  --color-charcoal: #2D2D2D;
  --color-deep-forest: #2C3E35;
  --color-surface-container: #f0eee9;
  --color-surface-container-highest: #e4e2dd;
  --color-outline-variant: #c3c8c1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

